
Projects/CSS Final Project/style.css
Projects/CSS Final Project/index.html
Projects/CSS Final Project/assets/images/sidebar-2.jpg
Projects/CSS Final Project/assets/images/sidebar-1.jpg
Projects/CSS Final Project/assets/images/card-3.jpeg
Projects/CSS Final Project/assets/images/card-2.jpeg
Projects/CSS Final Project/assets/images/card-1.jpeg
Projects/CSS Final Project/assets/images/avatar.jpg
Projects/CSS Final Project/assets/icons/header/search.svg
Projects/CSS Final Project/assets/icons/header/notifications.svg
Projects/CSS Final Project/assets/icons/header/more.svg
Projects/CSS Final Project/assets/icons/header/menu.svg
Projects/CSS Final Project/assets/icons/header/headerDashboard.svg
Projects/CSS Final Project/assets/icons/header/headerAvatar.svg
Projects/CSS Final Project/assets/icons/cards/weekend.svg
Projects/CSS Final Project/assets/icons/cards/warning.svg
Projects/CSS Final Project/assets/icons/cards/view.svg
Projects/CSS Final Project/assets/icons/cards/update.svg
Projects/CSS Final Project/assets/icons/cards/tracked.svg
Projects/CSS Final Project/assets/icons/cards/storefront.svg
Projects/CSS Final Project/assets/icons/cards/public.svg
Projects/CSS Final Project/assets/icons/cards/location.svg
Projects/CSS Final Project/assets/icons/cards/language.svg
Projects/CSS Final Project/assets/icons/cards/equalizer.svg
Projects/CSS Final Project/assets/icons/cards/edit.svg
Projects/CSS Final Project/assets/icons/cards/delete.svg
Projects/CSS Final Project/assets/icons/cards/couch.svg
Projects/CSS Final Project/assets/icons/cards/calendar.svg
Projects/CSS Final Project/assets/icons/asides/widget.svg
Projects/CSS Final Project/assets/icons/asides/table.svg
Projects/CSS Final Project/assets/icons/asides/pages.svg
Projects/CSS Final Project/assets/icons/asides/map.svg
Projects/CSS Final Project/assets/icons/asides/form.svg
Projects/CSS Final Project/assets/icons/asides/expandMore.svg
Projects/CSS Final Project/assets/icons/asides/components.svg
Projects/CSS Final Project/assets/icons/asides/chart.svg
Projects/CSS Final Project/assets/icons/asides/calendar.svg
Projects/CSS Final Project/assets/icons/asides/asideDashboard.svg
Projects/CSS Final Project/assets/icons/asides/asideAvatar.svg
Projects/CSS Final Project/assets/flags/us.svg
Projects/CSS Final Project/assets/flags/kosovo.svg
Projects/CSS Final Project/assets/flags/italy.svg
Projects/CSS Final Project/assets/flags/germany.svg
Projects/CSS Final Project/assets/flags/albania.svg
