
body{
   margin: 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   height: 100vh;
   column-gap: 40px;
}


.row-1 {
    background-color: pink;
    grid-row: 1 / 2;
    grid-column: span 4;
}


.row-2 {
    background-color: pink;
    grid-column: span 4;
    grid-row: 3 / 4;
}


.column-1{
    background-color: rgb(222, 215, 250);
    grid-column: 1fr;
    grid-row: 2 / 3;
}


.column-2{
    background-color: rgb(222, 215, 250);
    grid-column: 1fr;
    grid-row: 2 / 3;
}




.column-3{
    background-color: rgb(222, 215, 250);
    grid-column: 1fr;
    grid-row: 2 / 3;
}



.column-4{
    background-color: rgb(222, 215, 250);
    grid-column: 1fr;
    grid-row: 2 / 3;
}



