body{
    margin: 0;
    font-family: "young serif";
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    height: 100vh;
 }
 
 
 
 .blog-aside{
     background-color: hwb(220 13% 65%);
     text-align: end;
     grid-column: 1 / 2;
     grid-row: 1 / 2;
     padding: 20px;
     width: 170px;
 }
 
 
 .aside-title{
     text-transform: uppercase;
     color: antiquewhite;
     margin: 0;
 }
 
 .aside-description{
     color: rgb(141, 142, 177);
     margin: 0;
 }
 
 
 button{
     color:  rgb(141, 142, 177);
     border: 2px solid  rgb(141, 142, 177);
     padding: 7px;
     margin-top: 10px;
     background-color: hwb(220 13% 65%);
 }
 
 
 
 
 
 .blog-main{
     display: flex;
     flex-flow: column wrap;
     left: 220px;
     margin: 70px;
     grid-column: 2 / 3;
     grid-row: 1 / 2;
 }
 
 .post-type{
     color: grey;
     text-transform: uppercase;
     font-size: 10px;
     margin: 0;
 }
 
 
 
 .blog-info{
     display: flex;
     justify-content: space-between;
 }
 
 
 
 img{
     width: 40px;
     height: 40px;
     border: 1px black solid;
     border-radius: 100%;
 }
 
 .blog-user{
     color: rgb(66, 147, 219);
 }
 
 .green-css{
     background-color: green;
     padding: 5px;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 .blue-html{
     background-color: rgb(51, 157, 199);
     padding: 5px;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 .red-java{
     background-color: rgb(208, 40, 40);
     padding: 5px;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 .post-description{
     color: rgb(78, 72, 72);
 }
 
 h2{
     font-size: 2em;
 }
 
 
 
 .post-pin{
     width: 15px;
     height: 15px;
     border: none;
 }
 
 
 
 .pink-python{
     background-color: hotpink;
     padding: 5px;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 
 
 
 
 .second-recent-post{
     margin-top: 50px;
 }
 
 
 
 