*{
    padding: 0;
    margin: 0;
    cursor: url(images/cursor.png), pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


body {
    margin: 1rem 11rem;
    background-image: url(./images/backgroundP.png);
    font-size: 1.2rem;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.textAlignCenter {
    text-align: center;
}

.marginY {
    margin: 1.25rem 0;
}

.marginX {
    margin: 0 1rem;
}

.aColorPurple:hover {
    color: #6d08e9;
    transition: 1.2s ease-in-out;
}

.aLinks {
    text-decoration: none;
    cursor: pointer;
}

.colorPink {
    color: rgb(187, 24, 179);
}

.bgPurple {
    background-color: #7851A9;
}

.colorWhite {
    color: white;
}

.listStyleNone {
    list-style: none;
}

.headerLinks{
    display: inline;
    list-style: none;
    border-radius: 10px;
    padding: 10px;
    border: whitesmoke solid 3px;
    transition: 1.2s ease-in-out;
}

.headerLinks:hover {
    border: #5600be solid 3px;
    background-color: #1e1c1fbb;
}

.card {
    margin: 1.24rem;
    padding: 10px;
    border: whitesmoke solid 3px;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.card:hover {
    border: #5600be solid 3px;
    background-color: #1e1c1f;
    color: #6d08e9;
    transform: scale(1.1);
}

input , textarea , .buttonSend{
    border: #5600be solid 3px;
    background-color: #1e1c1f;
    color: #6d08e9;
    border-radius: 15px;
    padding: 5px;
}

.projekt2img {
    display: inline;
}

table {
    border-collapse: collapse;
}