body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    position: relative;
    width: 550px;
    margin: 40px;
    background-color: white;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
    border-radius: 2px;
    z-index: 1000;
}

.box  p {
    text-align: center;
    position: relative;
    bottom: 20px;
}

.box h1 {
    position: relative;
    bottom: 15px;
    left: 15px;
}

.box h4 {
    position: absolute;
    bottom: 2rem;
    left: 33.5rem;
    background-color: red;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    
}

.video {
    border: 1px solid black;
    width: 300px;
    position: fixed;
    display: inline;
    top: 600px;
    left: 800px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    z-index: 1100;
}