body{
    display: flex;
}

.search-bar {
  /* Size properties */
  width: 15em;
  padding: 0.5em;
  margin: 1em;
  border-radius: 7em;
  /* Flexbox properties */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Styling properties */
  box-shadow: inset 0px 0px 20px lightgrey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: grey;
}

.search-bar-input {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.2em;
  color: inherit;
  width: 1em;
}

.search-icon {
  width: 1.5em
}

.search-bar-input::placeholder {
  color: #b6b6b6;
}
