body {
  margin: 1.2em;
  padding: 0;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}

.card {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  margin: 0.5rem;
}

.box1 {
  display: flex;
  border: 2px solid black;
  flex-flow: column wrap;
  padding-left: 1.4em;
  padding-right: 1.7em;
  justify-content: center;
  font-size: 1.4em;
}

.box2 {
  display: flex;
  border: 2px solid black;
  flex-flow: column wrap;
  padding-left: 1.7em;
  padding-right: 2.1em;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.box1-2 {
  display: flex;
  border: 3px solid black;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
}

.box3 {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  border: 5px solid black;
  background-image: url(images/image.png);
}

.box3 p {
  font-size: 1.5em;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.box3 img {
  width: 16.2rem;
  height: 25rem;
}
