body {
    margin: 0;
    padding: 0;
}

.flex-container{
    background-color: rgb(169, 169, 169);
    margin: 1em;
    padding: 1em;
    border: 2px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-child{
    background-color: purple;
    border-radius: 10px;
    padding: 1em;
    color: white;
}